div.userSignUp {
  background: #12e3e3;
  /*margin-left: 10%;*/
  display: inline-block;
  vertical-align: top;
  width:calc(25% + 100px);
  height: 100%;
}

form {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


