/* Styles for an aesthetically pleasing signup page */

.signupimg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc(45% + 25px);
}

img {
  max-width: 100%;
}

.signup-container {
  background-image: linear-gradient(#fcfcfc, #2983fa);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
  margin: 0;
}


div#userSignUp {
  margin-top: 1%;
  margin-bottom: 5%;
  width: 100%;
  /*background: #12e3e3;*/
  /*background-image: linear-gradient(#fcfcfc, #2983fa);*/
  /*width: calc(45% + 25px);*/
  /*max-width: calc(45% + 25px);*/
  justify-content: center;
  display: flex;
  align-items: center;

}

form {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(45% + 25px);

}

*, *:before, *:after {
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 20px;
  margin-top: 10%;
  margin-bottom: 5%;
  border: 2px solid #eee;
  box-shadow:0 0 7px 3px gray;
  border-radius: 20px;
  font-family:inherit;
  font-size: inherit;
}

p {
  color: red;
}

h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

#signup-card {
  background-color: #ffffff;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
