div#userSignUp {
  background: #12e3e3;
  /*display: inline-block;*/
  /*vertical-align: top;*/
  /*width:calc(25% + 50px);*/
  /*max-width:calc(25% + 50px);*/
  /*height: 100%;*/

}

/*form {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: flex-end;*/
/*  align-items: center;*/
/*}*/

/*div.form-wrapper1 {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

input {
  width: 25%;/*70%*/
}

p {
  color: red;
}

h1 {
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;}
