<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="container">

<!--  Area to display the users financial information-->
<div class="user-finance-display">
  <p class="user-display">Annual Gross Income: $59,000</p>
  <p class="user-display">Monthly expenses: $4,000</p>
  <p class="user-display">Tax year: 2023</p>
  <p class="user-display">State: Texas</p>
  <p class="user-display">Filing status: single</p>
  <p class="user-display">Financial goal: $4,000,000</p>

</div>
<!--Chart to display Financial Information-->
<div class="chartContainer">
  <p id="user-name">Welcome, John Fritzke</p>
  <h1 id="graph-title" style="display: flex; justify-content: center; align-items: center;">Your Lunar Ledger</h1>
  <canvas id="userChart">
  </canvas>
  <p class="ratio"> Expense/Earnings: 81% </p>
  <p class="ratio">Expense/Earnings level: dangerous</p>
</div>

</div>
