<div class="home-container">
<h1><strong>comprehensive plans tailored to you!</strong></h1>
<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In aliquam sem fringilla ut morbi tincidunt augue interdum. Sed odio morbi quis commodo odio aenean sed adipiscing. Purus in massa tempor nec feugiat nisl pretium fusce. Porta nibh venenatis cras sed. Laoreet suspendisse interdum consectetur libero. Nullam non nisi est sit amet. Leo a diam sollicitudin tempor id. Velit aliquet sagittis id consectetur purus ut faucibus.</h3>
</div>
