<!--This is the first page people will see when they visit the website. It also has a link to the signup page-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<div class="home-container">
  <br><br><br><br>
<h1 class="title">comprehensive plans tailored to you!</h1>
  <div class="item-container">

    <div class="left-row">
    <h2>Reach new heights with our financial planning services meticulously crafted to level up your life!</h2>
    </div>

    <div class="right-row">
      <!--Here the route is set up to link to the signup page -->
      <div class="generate-lead" routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page"><h1 class="lead">Get Started</h1></div>
    </div>

    </div>

</div>
<router-outlet></router-outlet>
