<footer>
  <div class="bottom-container">
    <div class="footerRow">
      <fa-icon [icon]="faMoon"></fa-icon>
      <p class="bg-light">Moon Money LLC</p>
    </div>
    <!--TODO create privacy policy & terms and conditions-->
    <div class="footerRow">
      <fa-icon [icon]="faPrint"></fa-icon>
      <p class="redirect">Privacy Policy</p>
    </div>
    <div class="footerRow">
      <fa-icon [icon]="faPen"></fa-icon>
      <p class="redirect">Terms and Conditions</p>
    </div>
    <div class="footerRow">
      <fa-icon [icon]="faPhone"></fa-icon>
      <p>612-258-6970</p>
    </div>
    <br>
  </div>
</footer>

