div.userSignIn {
  background: #12e3e3;
  width: calc(25% + 100px);
  /*width:25%;*/
  /*height: 100%;*/
  display: inline-block;
  vertical-align: top;
  margin-right: 15%;
  /*justify-content: flex-start;*/
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

div.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
