<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="login-container">
<div id="userSignIn" class="row row-cols-1">

  <h1 style="color: white;">Already a member?</h1>

  <div class="loginimg-container">
    <img src="../../assets/Login.png" alt="Welcome Back">
  </div>

  <div class="form-wrapper">

  <form>
    <div class="form-fields">
      <input type="email" id="email" name="newEmail" placeholder="Email" minlength="10" class="form-control" (input)="emailLogin($event)">
      <input  type="password" id="newpassword" placeholder="Password" minlength="7" name="newPswd" class="form-control" (input)="passwordLogin($event)">
      <p [textContent]="this.session.loginError"></p>
      <button class="btn btn-primary" (click)="validateLogin($event)">Log In</button>
    </div>
  </form>
  </div>
</div>
</div>

