div.userSignIn {
  background: #12e3e3;
  /*width: calc(25% + 50px);*/
  /*max-width:calc(25% + 50px);*/
  /*display: inline-block;*/
  /*vertical-align: top;*/
  /*margin-right: 15%;*/
  /*height: 100%;*/
  /*justify-content: flex-start;*/
}

h1 {
  text-align: center;
}

form {
  margin-left: 10%;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: flex-start;*/
  /*align-items: flex-start;*/
}



/*div.form-wrapper {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

input {
  width: 70%;
}
