h1 {
  text-align: center;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  margin-bottom: 5%;
}



.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  gap: 10%;
}

.login-container {
  flex: 1 1 0;
  width: calc(30% + 50px);
  max-width:calc(35% + 50px);
  /*background-color: yellow;*/
  /*flex-flow: column;*/
}

.signup-container {
  /*background-color: red;*/
  flex: 1 1 0;
  width: calc(30% + 50px);
  max-width:calc(35% + 50px);
  /*flex-flow: column;*/
}

