/*Basic styles for navbar. Bootstrap reduces the need for large style sheets*/
:root {
  --customgreen: #5ca45a;
}
/* background for navbar #e3f2fd;*/

 a:hover {
  color: lightgray;
}
a {
  color: black;
  font-size: 150%;
}

nav {
  margin-bottom: 0;
}
