
<!--<nav class="navbar navbar-light" style="background-color: white;">-->
<!--  <a class="navbar-brand" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><strong>Home</strong></a>-->
<!--  <a class="navbar-brand" routerLink="/my-info" routerLinkActive="active" ariaCurrentWhenActive="page"><strong>My Info</strong></a>-->
<!--  <a class="navbar-brand" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"><strong>Login</strong></a>-->
<!--  <a class="navbar-brand" routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Signup</a>-->
<!--</nav>-->

<nav class="navbar">
<div class="container-fluid">
  <div class="navbar-header navbar-left">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><strong>Moon Money</strong></a>
  </div>
  <div class="nav navbar-nav" style="display: inline-block">
    <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><strong>Home</strong></a></li>
    </div>
  <div class="nav navbar-nav">
    <li><a routerLink="/my-info" routerLinkActive="active" ariaCurrentWhenActive="page"><strong>My Info</strong></a></li>
  </div>

  <ul class="nav navbar-nav navbar-right" style="display: inline-block;">
    <li><a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  </ul>
</div>
</nav>


<router-outlet></router-outlet>
