<!--This file is the view for the about us page-->
<link rel="stylesheet" href="about-us.component.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<div  class="aboutus">
<div class="pContainer">
  <div class="paragraph1">
<h1>Mission statement</h1>
 <h3>
"Inspired by the boundless wonders of space, we strive to provide boundless opportunity At Moon Money". We envision a universe where everyone can boldly
chase their financial dreams without constraints. we're driven by a mission to redefine financial possibilities and empower individuals of all backgrounds
to achieve their highest financial goals with confidence.  We are dedicated to breaking down the barriers to elite financial tools. We want to equip each
client with the tools needed to navigate their own trajectory toward prosperity with precision, reaching for the stars in their financial journey. Our
constellation of services provides personalized solutions to ensure that each of our clients receives the highest quality of service tailored to their unique
needs. Join us on our journey to revolutionize the financial landscape and pave the way for a more prosperous tomorrow. Find yourself In a future where
financial success knows no bounds, where dreams transcend all boundaries, and financial success illuminates the paths of all who dare to reach.
 </h3>

  </div>


<div class="paragraph2">

<h1>Summary of mission statement</h1>


  <h3>
Moon Money is a financial technology company that democratizes access to elite financial services. Founded by college students, we are dedicated to breaking
  down the barriers that have traditionally limited access to premium financial tools and resources. With our cutting-edge technology and forward-thinking
  strategies, we strive to provide a comprehensive suite of financial services that were once exclusively reserved for the wealthy, making them accessible
  to everyone, all in one place.
  </h3>
</div>

  <div class="paragraph3">

<h1>How we do it</h1>

    <h3>
Moon Money democratizes access to financial services in a number of ways. First, we offer a wide range of financial products and services that
  are tailored to meet the needs of a diverse range of clients. Second, we provide our services at competitive prices, making them accessible to
  people of all income levels. Third, we have a user-friendly platform that makes it easy for people to access and use our services. Fourth, we offer
  educational resources to help our clients understand financial concepts and make informed decisions. Fifth, we are committed to providing excellent
  customer service, so our clients can feel confident that they are getting the help they need.
    </h3>
  </div>

  <div class="paragraph4">
    <h3>
By taking these steps, Moon Money is helping to break down the barriers that have traditionally limited access to financial services. We believe that
  everyone deserves to have access to the financial tools and resources they need to build a secure and prosperous future, regardless of their background
  or income.
    </h3>
  </div>
</div>

</div>
